header, main {
    max-width: 60rem;
    margin: auto;
}

header {
    grid-template-columns: 45px auto auto;
} // end  header


/* NAVIGATION STUFF GOES HERE  */
nav {
    justify-self: end;
    button {display: none;}
    ul, ul.open {
        position: relative;
        display: flex;
        background-color: transparent ;
        width: auto;
    }
    ul {top: 0;}
    ul li {border: none;}
    ul li a {
        font-weight: $boldWeight;
        color: #333;
        border-radius: 20px;
        padding: .5rem 1rem;
        margin-left: .2rem;
        transition: all .5s ease;
    }
    ul li a:hover { //has a specificity of 3
        background-color: darken(white, 7%);
        color: $dpurple !important; // adding !important will override everything
    }
    ul li.active a { //has a specificity of 4, so no matter the order, 4 will override bc more specific BUT
        color: $third;
    }
} //end of nav



.hero {

    div{
        position: absolute;
        left: unset;
        right: unset;
        top: unset;
        bottom:5px;
        margin: $gutter;
        width: 96.7%;

        height: 30%;
        h2{
            margin: 0;
            font-size: 2.2rem;
        }
    }
} //end hero video 




// create the for loop
@for $i from 1 through 12 {
    $w: calc($i /12) *100%; // /12 bc there are 112 colums in foundation framework
    .large-#{$i} {flex-basis: $w;}
}



div.allCards {
    section {
        flex-basis: calc(25% - (($gutter *3)/4));
    }
} // end div.allCards


.clients  { // these are the clients imgs
    img {
        width: 100%;
        height: auto;
    }
}