$primaryColor: #585C89; 
$secondaryColor: #d7deff;
$fontColor: #333;

$dpurple: #0c0a3e;
$third: #b23f61;


$defaultFont: "Exo", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;


